@import'./base/variables';
@import'./base/extend';
@import'./base/maps';
@import'./base/variables';
@import'./componentes/header';
@import'./componentes/main';
@import'./componentes/footer';

html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0.5rem;
}
.colorNaranja {
    color: $colorNaranja;
}
.colorCrema{
    background-color: $colorCrema;
}
.barraderecha{
    text-align: right;
}
.menu{
    display: inline-block;
    padding: 0.3rem 0.8rem;
    margin: 0 0.3rem;
    font-family: 'Oswald', sans-serif;
}
.servicios {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "nav cab cab"
    "nav main ads"
    "nav sec ads"
    "nav pie pie";
    background-color: #f6d327;
background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
    font-size: small;
    font-family: 'Source Serif Pro', serif;
}

.container{
    font-size: small;
}

.container_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.clientesweb{
    font-size: 1.3rem;
    font-weight: bold
}

.map-responsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}