body{
    main{
        section{
            font-family: 'Source Serif Pro', serif;
            div{
                background-size: cover; 
                background-position: center center;
                width: 100%; 
                height: 100%; 
            }
        }
        h1{
            font-family: 'Oswald', sans-serif;
            h2{
                font-family: 'Oswald', sans-serif;
            }
        }
        p{
            font-family: 'Source Serif Pro', serif;
        }
    }
}